$chocolate: #8b4513;

.wrap {
    margin: 0 auto;
    background-color: $chocolate;
    height: 600px;
    width: 500px;
    h2 {
        text-align: center;
        color: white;
    }
    p {
        color: white;
        text-align: center;
        margin-top: 100px;
        cursor: pointer;
        &:hover {
            font-size: 30px;
        }
    }
}